    #map {
      background-color: #fff;
      border: 1px solid #ccc;
      margin: 10px;
    }
    
    .background {
      fill: none;
      pointer-events: all;
    }
    #countries, #states {
      fill: #cde;
      stroke: #fff;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    #countries .active, #states .active {
      fill: #89a;
    }
    #cities {
      stroke-width: 0;
    }
    .city {
      fill: #345;
      stroke: #fff;
    }
    pre.prettyprint {
      border: 1px solid #ccc;
      margin-bottom: 0;
      padding: 9.5px;
    }