flask>=3.0.0
flask-cors>=4.0.0
Jinja2>=3.1.3
MarkupSafe>=2.1.5
SQLAlchemy>=2.0.30
Werkzeug>=3.0.1
-e git+https://github.com/fnielsen/afinn.git@master#egg=afinn
feedparser>=6.0.10
gunicorn>=21.2.0
itsdangerous>=2.1.2
python-dateutil>=2.9.0
pytz>=2024.1
requests>=2.31.0
selenium>=4.20.0
six>=1.16.0
wsgiref; python_version<'3.0'
psycopg2>=2.9.9
