nav.navbar {
    background-color: white;
    margin-bottom: 0px;
    border-bottom: 1px solid #2e3540;
}

.navbar a:link, .navbar a:visited
.navbar-form .form-control,
.navbar-form .btn-default,
.form-control,
.navbar-default .navbar-brand {
    color: #2e3540;
    text-shadow: none;
    box-shadow: none;
    color: #2e3540;
    border-color: #2e3540;
}

.navbar a:hover, .navbar a:focus,
.btn-default:hover, .btn-default:focus,
.form-control:hover, .form-control:focus,
.navbar-default .navbar-brand:hover {
    color: #428bca;
    border-color: #428bca;
    background-color: white;
    box-shadow: none
}

#countryInfo {
  color: #000;
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  margin: 5px 15px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #2e3540;
}

.story {
    padding-bottom: 20px
}
