#map-background {
  background-color: #2e3540;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries {
  cursor: pointer;
  fill: #474e5b;
  stroke: #2e3540;
  stroke-width:1;
  stroke-linejoin: miter;
  stroke-linecap: butt;
}

.selected,
#countries .selected {
    fill: #ffffff;
    color: #ffffff;
  }
  .neutral {
    fill: #40dee3;
    color: #40dee3;
  }
  .positive {
    fill: #67ff8c;
    color: #67ff8c;
  }
  .very-positive {
    fill: #67ff8c;
    color: #67ff8c;
  }
  .negative {
    fill: #f61f55;
    color: #f61f55;
  }
  .very-negative {
    fill: #f61f55;
    color: #f61f55;
}
