#map-background {
  background-color: #A7DBD8;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries {
  fill: #fff;
  stroke: #556270;
  stroke-width:0.5;
  stroke-linejoin: miter;
  stroke-linecap: butt;
}

.selected,
#countries .selected {
    fill: #556270;
    color: #556270;
  }
  .neutral {
    fill: #ffffff;
    color: #ffffff;
  }
  .positive {
    fill: #a5edaf;
    color: #a5edaf;
  }
  .very-positive {
    fill: #4cdb60;
    color: #4cdb60;
  }
  .negative {
    fill: #f9aaaa;
    color: #f9aaaa;
  }
  .very-negative {
    fill: #f35555;
    color: #f35555;
}
