
body .site-wrapper .site-wrapper-inner {
  padding: 20px 0px;
}

.cover {
  margin-bottom: 0px;
}

#map {
  background-color: #444;
  border: 5px solid #555;
  margin-bottom: 20px;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries {
  fill: #666;
  stroke: #444;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#countries .selected,
#countries .selected.mentioned,
#countries .selected.positive,
#countries .selected.negative,
#countries .selected.very-positive,
#countries .selected.very-negative {
  fill: #5599f3;
}

#countries .mentioned {
  fill: #ffffff;
}

#countries .positive {
  fill: #a5edaf;
}
#countries .very-positive {
  fill: #4cdb60;
}
#countries .negative {
  fill: #f9aaaa;
}
#countries .very-negative {
  fill: #f35555;
}


#title h3 {
  margin-top: 10px;
}

.articles .text-center {
  margin: 30px inherit;
}