#map {
  background-color: #444;
  border: 5px solid #2B2B2B;
  margin-bottom: 20px;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries {
  fill: #666;
  stroke: #444;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.selected, 
#countries .selected {
    fill: #5599f3;
    color: #5599f3;
  }
  .neutral {
    fill: #ffffff;
    color: #ffffff;
  }
  .positive {
    fill: #a5edaf;
    color: #a5edaf;
  }
  .very-positive {
    fill: #4cdb60;
    color: #4cdb60;
  }
  .negative {
    fill: #f9aaaa;
    color: #f9aaaa;
  }
  .very-negative {
    fill: #f35555;
    color: #f35555;
}
