#map {
  background-size: 112px 32px;
  background-position: 0% 100%;
  background-repeat: no-repeat;

  /* Filled in by JS when map is colored. */
  background-image: none;
}

#errors {
  margin-top: 15px;
}

#map-background {
  background-color: #2e3540;
}

.background {
  fill: none;
  pointer-events: all;
}

#countries {
  /*cursor: pointer;*/
  fill: #474e5b;
  stroke: #2e3540;
  stroke-width:1;
  stroke-linejoin: miter;
  stroke-linecap: butt;
}
