@dark-grey: #2e3540;

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 800;
}

h2, h3 {
  font-weight: 600;
}

nav.navbar {
  background-color: white;
  margin-bottom: 0px;
  border-bottom: 1px solid @dark-grey;
  a:link:visited,
  .navbar-brand {
    text-shadow: none;
    box-shadow: none;
    color: @dark-grey;
  }
  a:hover:focus,
  .navbar-brand:hover {
    color: #428bca;
    background-color: white;
  }
}


#countryInfo {
  color: #000;
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  margin: 5px 15px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid @dark-grey;
}

.story {
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
  h5, h5 a {
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  strong {
    font-weight: 600;
  }
  p {
    margin-top: 1em;
  }
}

#footer {
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 100px;
  ol li {
    margin-bottom: 0.5em;
  }
}

#map-background {
  background-color: @dark-grey;
}

#errors {
  margin-top: 15px;
}

#map {
  background-size: 112px 32px;
  background-position: 0% 100%;
  background-repeat: no-repeat;

  /* Filled in by JS when map is colored. */
  background-image: none;

  .background {
    fill: none;
    pointer-events: all;
  }

  #countries {
    /*cursor: pointer;*/
    fill: lighten(@dark-grey, 10);
    stroke: @dark-grey;
    stroke-width: 1;
    stroke-linejoin: miter;
    stroke-linecap: butt;
  }
}
